$color:  rgba(19, 35, 47, 0.9);
$color-label: #ffffff;
$border-radius: 5px;
$font-family: 'Titillium Web', sans-serif;
$font-size: 25px;
$margin-top: 20px;
$color-background: #1ab188;
$width: 100%; 
#root {
  text-align: center;
}
.main--button {
  border: none;
  outline: none;
  border-radius: none;
  padding: 15px 0;
  font-size: 25px;
  font-weight: 600;
  text-transform: uppercase;
  width: $width;
  background: $color-background;
  color:$color-label;
  margin-top: $margin-top;
  cursor: pointer;
}
.form--button:hover {
  background: #057658;
}
