:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

html,
body {
  width: 100vw;
  height: 100vh;
  background-image: url('backimage.jpg');
}

body {
  box-sizing: border-box;
  margin: 0;
}
