.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  position: relative;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
  background-color: #ccc;
}

.tabcontent {
  position: absolute;
  top: 285px;
  left: 0px;
  visibility: hidden;
  padding: 6px 12px;
  border-top: none;
  color: white;
}

.tabcontent.active {
  visibility: visible;
}
