@import '../../variables.scss';
.tab {
  overflow: hidden;
  position: relative;
  float: left;
  display: flex;
}
.tablinks {
  border-radius: $border-radius;
  border: $borderFields;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  width: 300px;
  min-height: 60px;
  max-height: 300px;
  border-radius: $border-radius;
  background-color: $backgroundFields;
  color: $colorText;
  border-radius: $border-radius;
  margin-right: 10px;
  text-align: justify;
}

button .tablinks.active{
  border-radius: $border-radius;
}

/*.tab button:hover {
  background-color: #ddd;
}*/

.tab button.active {
  background-color: $colorText;
  color: black;
}

.tabcontent {
  position: relative;
  display: flex;
  flex-direction: row;
  //top: 285px;
  //left: 0px;
  visibility: hidden;
  padding: 6px 12px;
  border-top: none;
  color: $colorText;
}
.tab--mainContainer {
  display: flex;
  flex-direction: row;
}

.tabcontent.active {
  visibility: visible;
}


/*.react-tabs {
  -webkit-tap-highlight-color: transparent;
}

.react-tabs__tab-list {
 // border-bottom: 3px solid #352537;
  margin: 0 0 10px;
  padding: 0;
  display: flex;
  width: 300px;
  height: 50px;
}

.react-tabs__tab {
  display: flex;
  flex-direction: column;
  border: $borderFields;
  border-radius: 15px;
  bottom: -1px;
  position: relative;
  list-style: none;
  padding: 6px 12px;
  cursor: pointer;
  background: black;
  color: white;
  margin-top: 10px;
  
}
.react-tabs__tab-list {
  display: flex;
  flex-direction: column;
}
.react-tabs__tab-list > li {

}
.react-tabs__tab--selected {
  background: black;
  
  color: white;
  border-radius: 15px;
    font-size: 12px;
    border: $borderFields;
    display: block;
    width: 100%;
    padding: 5px 10px;
}

.react-tabs__tab--disabled {
  color: GrayText;
  cursor: default;
}

.react-tabs__tab:focus {
  outline: none;
}

.react-tabs__tab:focus:after {
  content: '';
  position: absolute;
  height: 5px;
  left: -4px;
  right: -4px;
  bottom: -5px;
  background: #fff;
}
*/
//.react-tabs__tab-panel {
  /* display: none; */
 // visibility: hidden;
//}

//.react-tabs__tab-panel--selected {
  /* display: block; */
 // visibility: visible;
//}