@import '../../variables.scss';

.tab {
  overflow: hidden;
  display: flex;
  width: 100%;
  gap: 5px;
}

.tablinks {
  border: $borderFields;
  cursor: pointer;
  padding: 14px;
  transition: 0.3s;
  font-size: 1rem;
  height: 52px;
  background-color: $backgroundFields;
  color: $colorText;
  border-radius: 10px 10px 0px 0px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 300px;
  position: relative;
}

.tablinks.active {
  background-color: $colorText;
  color: black;
}

.tabcontent {
  display: none;
  color: $colorText;
}

.tab--mainContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.tabcontent.active {
  display: block;
}

.closeIcon {
  position: absolute;
  top: 0;
  right: 0;

  svg {
    pointer-events: none;
  }
}
