@import '../variables.scss';

*,
*:before,
*:after {
  box-sizing: border-box;
}

.form--container {
  background-color: $backgroundFields;
  border-radius: $border-radius;
  padding: 40px;
  max-width: 600px;
  margin: 40px auto;
  border: $border;
  font-size: $basicFontSize;
  //box-shadow: 0 4px 10px 4px rgba(20, 20, 20, 0.3);
}
form {
  width: $width;
}
input {
  border-radius: $border-radius;
  font-size: $basicFontSize;
  border: $border;
  display: block;
  width: $width;
  padding: 5px 10px;
  background: $backgroundFields;
  color: $color-label;
}
input:focus {
  border-color: #352537;
  resize: none;
  outline: none;
  background: $color;
}
label {
  // font-size: $font-size;
  color: $color-label;
}
.form--button {
  border-color: none;
  border: $border;
  outline: none;
  border-radius: $border-radius;

  padding: 15px 0;
  font-size: $basicFontSize;
  font-weight: 600;
  text-transform: uppercase;
  width: $width;
  background: $backgroundFields;
  color: $color-label;
  margin-top: $margin-top;
  cursor: pointer;
}
.form--button:hover {
  background: #2a1f2c;
}
