@import '../variables.scss';
.relay--buttonFilter {
  border-color: none;
  border: $border;
  outline: none;
  border-radius: $border-radius;

  padding: 15px 0;
  font-size: $basicFontSize;
  font-weight: 600;
  text-transform: uppercase;
  width: $width;
  background: $backgroundFields;
  color: $color-label;
  margin-top: $margin-top;
  cursor: pointer;
}
.relay--buttonFilter:hover {
  background: #2a1f2c;
}
.relay--container__input {
  border-radius: $border-radius;
  font-size: $basicFontSize;
  border: $border;
  display: block;
  width: $width;
  padding: 5px 10px;
  background: $backgroundFields;
  color: $color-label;
}

//$color:  rgba(19, 35, 47, 0.9);

//$color-background: #1ab188;

/*.relay--button {
    border: none;
    outline: none;
    border-radius: 50px;
    padding: 15px 0;
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
    width: 200px;
    background: $color-background;
    color:$color-label;
    margin-top: $margin-top;
    cursor: pointer;
    display: flex;
    margin-left: 10px;
    justify-content: center;
  }
  .relay--button:hover {
    background: #057658;
  }*/
