@import '../variables.scss';

.relay--container__filter {
  width: 250px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.relay--container__messages {
  width: 100%;
}

.messages {
  margin-bottom: 10px;
  word-wrap: break-word;
}

.messageHeader {
  margin: 10px;
}

.relay--container {
  display: flex;
}
