@import '../variables.scss';

.relay--container__filter {
  width: 250px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.relay--container__messages {
  width: calc(100vw - 300px);
  margin-right: 10px;
}

.messages {
  border: $borderFields;
  border-radius: $border-radius;
  background: $backgroundFields;
  color: $colorText;
  margin-bottom: 10px;
  word-wrap: break-word;
}

.relay--container {
  display: flex;
}

.relay--buttonFilter {
  border: $borderFields;
  border-radius: 10px;
  height: 48.5px;
  padding: 5px 10px;
  font-size: $normalFontSize;
  font-weight: 600;
  text-transform: uppercase;
  background: $backgroundFields;
  color: $colorText;
  cursor: pointer;
}

.relay--buttonFilter:hover {
  background: #2a1f2c;
}

.relay--container__input {
  border-radius: 10px;
  font-size: $normalFontSize;
  border: $borderFields;
  padding: 5px 10px;
  background: $backgroundFields;
  color: $colorText;
  height: 48.5px;
  outline: none;
}

.relay--container__label {
  font-size: $normalFontSize;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.relay--container__input:focus {
  background: $colorInputFocus;
  border-color: #352537;
}

.Dropdown-root {
  position: relative;
}

.Dropdown-control {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  font-size: $normalFontSize;
  font-weight: 600;
  border: $borderFields;
  box-sizing: border-box;
  color: $colorText;
  cursor: default;
  padding: 12px 10px;
  transition: all 200ms ease;
  background: $backgroundFields;
}

.Dropdown-control:hover {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
}

.Dropdown-arrow {
  border-color: #999 transparent transparent;
  border-style: solid;
  border-width: 5px 5px 0;
  content: ' ';
  display: block;
  height: 0;
  position: absolute;
  right: 10px;
  top: 20px;
  width: 0;
}

.is-open .Dropdown-arrow {
  border-color: transparent transparent #999;
  border-width: 0 5px 5px;
}

.Dropdown-menu {
  background-color: $backgroundFields;
  border-radius: $border-radius;
  border: $borderFields;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  max-height: 200px;
  overflow-y: auto;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 1000;
}

.Dropdown-menu::-webkit-scrollbar {
  border-radius: 10px;
  background-color: #352537;
  width: 10px;
}

.Dropdown-menu::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #352537;
}

.Dropdown-menu::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: rgb(77, 48, 68);
}

.Dropdown-menu .Dropdown-group > .Dropdown-title {
  padding: 8px 10px;
  color: rgba(51, 51, 51, 1);
  font-weight: bold;
  text-transform: capitalize;
}

.Dropdown-option {
  box-sizing: border-box;
  color: $colorText;
  cursor: pointer;
  display: block;
  padding: 8px 10px;
  font-size: $normalFontSize;
}

.Dropdown-option:last-child {
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}

.Dropdown-option:hover {
  background-color: #f2f9fc;
  color: #333;
}

.Dropdown-option.is-selected {
  background-color: #f2f9fc;
  color: #333;
}

.Dropdown-noresults {
  box-sizing: border-box;
  color: #ccc;
  cursor: default;
  display: block;
  padding: 8px 10px;
}
