.react-tabs {
  -webkit-tap-highlight-color: transparent;
}

.react-tabs__tab-list {
 // border-bottom: 3px solid #352537;
  margin: 0 0 10px;
  padding: 0;
  display: flex;
  width: 300px;
  height: 50px;
}

.react-tabs__tab {
  display: flex;
  flex-direction: column;
  border: 2px solid #352537;
  border-radius: 15px;
  bottom: -1px;
  position: relative;
  list-style: none;
  padding: 6px 12px;
  cursor: pointer;
  background: black;
  color: white;
  margin-top: 10px;
  
}
.react-tabs__tab-list {
  display: flex;
  flex-direction: column;
}
.react-tabs__tab-list > li {

}
.react-tabs__tab--selected {
  background: black;
  
  color: white;
  border-radius: 15px;
    font-size: 12px;
    border: 3px solid #352537;
    display: block;
    width: 100%;
    padding: 5px 10px;
}

.react-tabs__tab--disabled {
  color: GrayText;
  cursor: default;
}

.react-tabs__tab:focus {
  outline: none;
}

.react-tabs__tab:focus:after {
  content: '';
  position: absolute;
  height: 5px;
  left: -4px;
  right: -4px;
  bottom: -5px;
  background: #fff;
}

.react-tabs__tab-panel {
  /* display: none; */
  visibility: hidden;
}

.react-tabs__tab-panel--selected {
  /* display: block; */
  visibility: visible;
}
