.App {
  padding: 20px;
  min-height: 100vh;
  position: relative;
}

@mixin make-container($padding-x: $container-padding-x) {
  width: calc(100vw - 40px);
  box-sizing: border-box;
  padding-right: $padding-x;
  padding-bottom: 40px;
}

.custom-container {
  @include make-container(60px);
}
