$colorInputFocus: rgba(19, 35, 47, 0.9);
$border-radius: 15px;
$fontFamily: 'Titillium Web', sans-serif;
$basicFontSize: 25px;
$normalFontSize: 1rem;
$backgroundFields: rgb(0, 0, 0);
$borderFields: 3px solid #352537;
