$color: rgba(19, 35, 47, 0.9); //???
$color-label: #ffffff;
$border-radius: 15px;
$fontFamily: 'Titillium Web', sans-serif; // ???
$basicFontSize: 25px; 
$margin-top: 20px; // superfluous
$backgroundFields: rgb(0, 0, 0); //naming
$width: 100%; //superfluous
$border: 3px solid #352537; //which component?