$color:  rgba(19, 35, 47, 0.9);
$color-label: #ffffff;
$border-radius: 20px;
$font-family: 'Titillium Web', sans-serif;
$font-size: 25px;
$margin-top: 20px;
$color-background: rgb(0, 0, 0);
$width: 100%; 
$border-color: #2a1f2c;

*, *:before, *:after {
    box-sizing: border-box;
}


.form--container {
    background-color: $color-background;
    border-radius: $border-radius;
    padding: 40px;
    max-width: 600px;
    margin: 40px auto;
    border: 2px solid $border-color;
    //box-shadow: 0 4px 10px 4px rgba(20, 20, 20, 0.3);
}
form {
    width: $width;
}
input {
    font-size: $font-size;
    border: 2px solid $border-color;
    display: block;
    width: $width;
    padding: 5px 10px;
    background: $color;
    color: $color-label;
}
input:focus, textarea:focus {
    border-color: $color-background;   
    resize: none;
    outline: none;
}
label {
    font-size:$font-size;
    color:$color-label;
}
.form--button {
    border-color: none;
    border: 2px solid $border-color;
    outline: none;
    border-radius: $border-radius;
    padding: 15px 0;
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
    width: $width;
    background: $color-background;
    color:$color-label;
    margin-top: $margin-top;
    cursor: pointer;
}
.form--button:hover {
    background: $border-color;
}
