$color:  rgba(19, 35, 47, 0.9);
$color-label: #ffffff;
$border-radius: 5px;
$font-family: 'Titillium Web', sans-serif;
$font-size: 25px;
$margin-top: 20px;
$color-background: #1ab188;

*, *:before, *:after {
    box-sizing: border-box;
}


.form--container {
    background-color: $color;
    border-radius: $border-radius;
    padding: 40px;
    max-width: 600px;
    margin: 40px auto;
    box-shadow: 0 4px 10px 4px rgb(19 35 47 / 30%);
}
form {
    width: 100%;
}
input, textarea {
    font-size: $font-size;
    display: block;
    width: 100%;
    padding: 5px 10px;
    border: 1px solid #a0b3b0;
    background: $color;
    border-radius: 0;
    color: $color-label;
}
input[type=text]:focus {
    background: red;
   
    resize: none;
}
label {
    font-size:$font-size;
    color:$color-label;
}
.form--button {
    cursor: pointer;
    border: 0;
    outline: none;
    border-radius: 0;
    padding: 15px 0;
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
    width: 100%;
    background: $color-background;
    color:$color-label;
    margin-top: $margin-top;
}
