$color: darkgray;

.form--container {
    background-color: $color;
    width: 100%;
    margin: auto;
    max-width: 550px;
    min-height: 660px;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
form {
    
}
