$color:  rgba(19, 35, 47, 0.9);
$color-label: #ffffff;
$font-family: 'Titillium Web', sans-serif;
$font-size: 25px;
$margin-top: 20px;
$color-background: #1ab188;
.relay--button {
    border: none;
    outline: none;
    border-radius: none;
    padding: 15px 0;
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
    width: 200px;
    background: $color-background;
    color:$color-label;
    margin-top: $margin-top;
    cursor: pointer;
  }
  .relay--button:hover {
    background: #057658;
  }
